<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FFGestureID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>362327001D9E3C8200F52A65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>362327191D9E3C8200F52A65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>362327241D9E3C8200F52A65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
